@{
    ViewData["Title"] = "OpenAI Example";
}

@{
    ViewBag.Title = "OpenAI Example for ";
}

<h2>OpenAI Example for Completions</h2>

<div class="form-group">
    <b>text-davinci-003</b> is a language model developed by OpenAI for generating natural language text. It is one of the models available in OpenAI's GPT (Generative Pre-trained Transformer) series, which uses a deep neural network architecture to generate text based on a given prompt.
    <br />  <br />
    <div>Model being used: <b>text-davinci-003</b></div>
    <div>myOpenAPI_Key being used: <b>@ViewData["myOpenAPI_Key"].ToString().Substring(0, 12) ...</b></div>
    <div>myApimWebServiceURL being used: <b>@ViewData["myApimWebServiceURL"]</b></div>
    <div>myApimSubscriptionKey being used: <b>@ViewData["myApimSubscriptionKey"].ToString().Substring(0, 12) ...</b></div>
    <br />
    <label for="prompt">Enter a prompt:</label>
    <textarea class="form-control" id="prompt" rows="5"></textarea>
</div>

<button class="btn btn-primary" onclick="generateOpenAPI()">Generate text using OpenAPI</button>
<button class="btn btn-primary" onclick="generateAPIM()">Generate text using APIM</button>
<button class="btn btn-primary" onclick="generateImageOpenAPI()">Generate Image using OpenAPI</button>
<button class="btn btn-primary" onclick="generateImageAPIM()">Generate Image using APIM</button>

<div class="form-group mt-3">
    <label for="generatedText">Generated text:</label>
    <textarea class="form-control" id="generatedText" rows="5" readonly></textarea>
</div>

@if (ViewBag.ImageUrl != null)
{
    <h2>Generated Image:</h2>
    <img id="generated-image2" src="@ViewBag.ImageUrl" alt="Generated Image">
}

<div class="form-group mt-3">
    <label for="GenerateImageText">Generated Image:</label>
    <img src="@ViewBag.ImageUrl" alt="Generated Image">
</div>

<div id="generated-image"></div>


@section scripts {
    <script>

        function generateOpenAPI() {
            var prompt = $('#prompt').val();

            $.ajax({
                url: '@Url.Action("generateOpenAPI", "Home")',
                type: 'POST',
                data: { prompt: prompt },
                success: function (result) {
                    if (result.success) {
                        $('#generatedText').val(result.generatedText);
                    } else {
                        alert(result.errorMessage);
                    }
                },
                error: function () {
                    alert('Failed to generate text.');
                }
            });
        }
        function generateAPIM() {
            var prompt = $('#prompt').val();

            $.ajax({
                url: '@Url.Action("generateAPIM", "Home")',
                type: 'POST',
                data: { prompt: prompt },
                success: function (result) {
                    if (result.success) {
                        $('#generatedText').val(result.generatedText);
                    } else {
                        alert(result.errorMessage);
                    }
                },
                error: function () {
                    alert('Failed to generate text.');
                }
            });
        }

        function generateImageOpenAPI() {
            var prompt = $('#prompt').val();

            $.ajax({
                url: '@Url.Action("GenerateImageOpenAI", "Home")',
                type: 'POST',
                data: { prompt: prompt },
                success: function (data) {
                    if (result.success) {
                        //$('#GenerateImageText').val(result.generatedText);
                        $('#generated-image').html('<h2>Generated Image:</h2><img src="' + data + '" alt="Generated Image">');
                        $('#generated-image2').html('<h2>Generated Image2:</h2><img src="' + data.imageUrl + '" alt="Generated Image2">');
                    } else {
                        alert(result.errorMessage);
                    }
                },
                error: function () {
                    alert('Failed to generate text.');
                }
            });

        }

        function generateImageAPIM() {
            var prompt = $('#prompt').val();

            $.ajax({
                url: '@Url.Action("GenerateImageAPIM", "Home")',
                type: 'POST',
                data: { prompt: prompt },
                success: function (result) {
                    if (result.success) {
                        //$('#GenerateImageText').val(result.generatedText);
                        $('#generated-image').html('<h2>Generated Image:</h2><img src="' + data + '" alt="Generated Image">');
                    } else {
                        alert(result.errorMessage);
                    }
                },
                error: function () {
                    alert('Failed to generate text.');
                }
            });

        }

    </script>
}